<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fear.healthrecord.mapper.ManagementMapper" >
    <insert id="insertuser" parameterType="java.util.HashMap" >
        insert into data_basic_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="basic_name != null" >
                basic_name,
            </if>
            <if test="basic_age != null" >
                basic_age,
            </if>
            <if test="identity_id != null" >
                identity_id,
            </if>
            <if test="basic_contact != null" >
                basic_contact,
            </if>
            <if test="basic_birthday != null" >
                basic_birthday,
            </if>
            <if test="basic_address != null" >
                basic_address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="basic_name != null" >
                #{basic_name,jdbcType=VARCHAR},
            </if>
            <if test="basic_age != null" >
                #{basic_age,jdbcType=VARCHAR},
            </if>
            <if test="identity_id != null" >
                #{identity_id,jdbcType=VARCHAR},
            </if>
            <if test="basic_contact != null" >
                #{basic_contact,jdbcType=INTEGER},
            </if>
            <if test="basic_birthday != null" >
                #{basic_birthday,jdbcType=VARCHAR},
            </if>
            <if test="basic_address != null" >
                #{basic_address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertuserinfo" parameterType="java.util.HashMap" >
        insert into data_health_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="basic_id != null" >
                basic_id,
            </if>
            <if test="index_id != null" >
                index_id,
            </if>
            <if test="info_result != null" >
                info_result,
            </if>

            <if test="info_mperson != null" >
                info_mperson,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="basic_id != null" >
                #{basic_id,jdbcType=INTEGER},
            </if>
            <if test="index_id != null" >
                #{index_id,jdbcType=VARCHAR},
            </if>
            <if test="info_result != null" >
                #{info_result,jdbcType=DOUBLE},
            </if>
            <if test="info_mperson != null" >
                #{info_mperson,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="upadtauser" parameterType="java.util.HashMap">
        update data_basic_user set
        <trim suffixOverrides="," >
            <if test="basic_name != null" >
                basic_name,
            </if>
            <if test="basic_age != null" >
                basic_age,
            </if>
            <if test="identity_id != null" >
                identity_id,
            </if>
            <if test="basic_contact != null" >
                basic_contact,
            </if>
            <if test="basic_birthday != null" >
                basic_birthday,
            </if>
            <if test="basic_address != null" >
                basic_address,

            </if>
        </trim>
        where 1=1
        <if test="basic_id !=null">
            and basic_id= #{basic_id,jdbcType=INTEGER}
        </if>

    </update>
    <update id="upadtauserinfo" parameterType="java.util.HashMap">
        update data_health_info set
        <trim suffixOverrides="," >
        <if test="info_result != null" >
            info_result= #{info_result,jdbcType=DOUBLE},
        </if>
        <if test="info_mperson != null" >
            info_mperson= #{info_mperson,jdbcType=VARCHAR},
        </if>
        </trim>
        where 1=1
        <if test="basic_id !=null">
           and basic_id= #{basic_id,jdbcType=INTEGER}
        </if>
        <if test="index_id !=null">
            and index_id= #{index_id,jdbcType=VARCHAR}
        </if>

    </update>
     <select id="selectuser" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
	select * from data_basic_user
	where 1=1
	<if test="basic_id !=null">
       and basic_id= #{basic_id,jdbcType=INTEGER}
    </if>

     </select>
    <select id="selectuserlist" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        select basic_id,basic_name from data_basic_user
        where 1=1
    </select>
    <select id="selectuserinfo" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        SELECT
        u.basic_name,
        x.index_name,
        i.info_result,
        x.range_low,
        x.range_high,
        x.index_unit,
        i.info_mtime,
        i.info_mperson
        FROM
        data_health_info i
        LEFT JOIN data_basic_user u ON i.basic_id = u.basic_id
        LEFT JOIN data_health_index x ON i.index_id = x.index_id
        WHERE
        1 = 1

        <if test="basic_id !=null">
            and u.basic_id= #{basic_id,jdbcType=INTEGER}
        </if>
    </select>
    <delete id="deleteuser" parameterType="java.util.HashMap">
        delete u.*,i.* from data_basic_user u,data_health_info i
        where
        u.basic_id=#{basic_id,jdbcType=INTEGER}
        and i.basic_id = u.basic_id

    </delete>
</mapper>