<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fear.healthrecord.mapper.ManagementMapper" >
    <insert id="insertuser" parameterType="java.util.HashMap" >
        insert into data_basic_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="user_id != null" >
                user_id,
            </if>
            <if test="basic_name != null" >
                basic_name,
            </if>
            <if test="basic_age != null" >
                basic_age,
            </if>
            <if test="basic_sex != null" >
                basic_sex,
            </if>
            <if test="identity_id != null" >
                identity_id,
            </if>
            <if test="basic_contact != null" >
                basic_contact,
            </if>
            <if test="basic_birthday != null" >
                basic_birthday,
            </if>
            <if test="basic_address != null" >
                basic_address,
            </if>
            <if test="basic_job != null" >
                basic_job,
            </if>
            <if test="is_marriage != null" >
                is_marriage,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="user_id != null" >
                #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="basic_name != null" >
                #{basic_name,jdbcType=VARCHAR},
            </if>
            <if test="basic_age != null" >
                #{basic_age,jdbcType=VARCHAR},
            </if>
            <if test="basic_sex != null" >
                #{basic_sex,jdbcType=VARCHAR},
            </if>
            <if test="identity_id != null" >
                #{identity_id,jdbcType=VARCHAR},
            </if>
            <if test="basic_contact != null" >
                #{basic_contact,jdbcType=INTEGER},
            </if>
            <if test="basic_birthday != null" >
                #{basic_birthday,jdbcType=VARCHAR},
            </if>
            <if test="basic_address != null" >
                #{basic_address,jdbcType=VARCHAR},
            </if>
            <if test="basic_job != null" >
                #{basic_job,jdbcType=VARCHAR},
            </if>
            <if test="is_marriage != null" >
                #{is_marriage,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertuserinfo" parameterType="java.util.HashMap" >
        insert into data_health_info_basic
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="user_id != null" >
                user_id,
            </if>
            <if test="count != null" >
                count,
            </if>
            <if test="height != null" >
                height,
            </if>

            <if test="weight != null" >
                weight,
            </if>
            <if test="lung_capacity != null" >
                lung_capacity,
            </if>
            <if test="s_blood_pressure != null" >
                s_blood_pressure,
            </if>
            <if test="d_blood_pressure != null" >
                d_blood_pressure,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="user_id != null" >
                #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="count != null" >
                #{count,jdbcType=VARCHAR},
            </if>
            <if test="height != null" >
                #{height,jdbcType=DOUBLE},
            </if>
            <if test="weight != null" >
                #{weight,jdbcType=VARCHAR},
            </if>
            <if test="lung_capacity != null" >
                #{lung_capacity,jdbcType=VARCHAR},
            </if>
            <if test="s_blood_pressure != null" >
                #{s_blood_pressure,jdbcType=VARCHAR},
            </if>
            <if test="d_blood_pressure != null" >
                #{d_blood_pressure,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="upadtauser" parameterType="java.util.HashMap">
        update data_basic_user set
        <trim suffixOverrides="," >
            <if test="basic_name != null and basic_name !='' " >
                basic_name=#{basic_name,jdbcType=VARCHAR},
            </if>
            <if test="basic_age != null and basic_age !='' " >
                basic_age=#{basic_age,jdbcType=VARCHAR},
            </if>
            <if test="identity_id != null and identity_id !='' " >
                identity_id=#{identity_id,jdbcType=VARCHAR},
            </if>
            <if test="basic_contact != null and basic_contact !='' " >
                basic_contact=#{basic_contact,jdbcType=VARCHAR},
            </if>
            <if test="basic_birthday != null and basic_birthday !='' " >
                basic_birthday=#{basic_birthday,jdbcType=VARCHAR},
            </if>
            <if test="basic_address != null and basic_address !='' " >
                basic_address=#{basic_address,jdbcType=VARCHAR},
            </if>
            <if test="basic_job != null and basic_birthday !='' " >
                basic_job=#{basic_job,jdbcType=VARCHAR},
            </if>
            <if test="is_marriage != null and basic_address !='' " >
            is_marriage=#{is_marriage,jdbcType=VARCHAR},
            </if>
        </trim>

        where 1=1
        <if test="basic_id !=null and basic_id !='' ">
            and basic_id= #{basic_id,jdbcType=INTEGER}
        </if>

    </update>
    <update id="upadtauserinfo" parameterType="java.util.HashMap">
        update data_health_info_basic set
        <trim suffixOverrides="," >
        <if test="height != null and height !='' " >
            height= #{height,jdbcType=VARCHAR},
        </if>
        <if test="weight != null and weight !='' " >
            weight= #{weight,jdbcType=VARCHAR},
        </if>
         <if test="lung_capacity != null and lung_capacity !='' " >
                lung_capacity= #{lung_capacity,jdbcType=VARCHAR},
         </if>
         <if test="s_blood_pressure != null and s_blood_pressure !='' " >
                s_blood_pressure= #{s_blood_pressure,jdbcType=VARCHAR},
         </if>
         <if test="d_blood_pressure != null and d_blood_pressure !='' " >
                d_blood_pressure= #{d_blood_pressure,jdbcType=VARCHAR},
         </if>
        </trim>
        where 1=1
        <if test="user_id !=null and user_id !='' ">
           and user_id= #{user_id,jdbcType=VARCHAR}
        </if>
        <if test="count!=null and count !='' ">
            and count= #{count,jdbcType=VARCHAR}
        </if>

    </update>
     <select id="selectuser" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
	select basic_name,
	    basic_age,
         basic_sex,
         identity_id,
         basic_contact,
         basic_birthday,
         basic_address,
         basic_job,
         is_marriage,
         DATE_FORMAT(basic_time,'%Y-%m-%d%H:%i:%s') as basic_time
	 from data_basic_user
	where 1=1
	<if test="user_id !=null">
       and user_id= #{user_id,jdbcType=VARCHAR}
    </if>


     </select>
    <select id="selectuserlist" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        select basic_id,basic_name from data_basic_user
        where 1=1
        <if test="basic_name !=null and basic_name !='' ">
            and basic_name= #{basic_name,jdbcType=VARCHAR}
        </if>
        <if test="basic_sex !=null and basic_sex !='' ">
            and basic_sex= #{basic_sex,jdbcType=VARCHAR}
        </if>
        <if test="basic_age !=null and basic_age !='' ">
            and basic_age= #{basic_age,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectuserinfo" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        SELECT
        i.info_id,
        u.basic_name,
        i.count,
        i.height,
        i.weight,
        i.lung_capacity,
        i.s_blood_pressure,
        i.d_blood_pressure
        FROM
        data_health_info_basic i,
        data_basic_user u
        WHERE
        1 = 1
        and u.user_id= #{user_id,jdbcType=VARCHAR}
        and i.user_id=#{user_id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteuser" parameterType="java.util.HashMap">
        delete from data_basic_user
        where
        basic_id=#{basic_id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteuserinfo" parameterType="java.util.HashMap">

        delete from data_health_info_user
        where
        user_id=#{user_id,jdbcType=VARCHAR}

    </delete>


    <insert id="insertdisease" parameterType="java.util.HashMap" >
        insert into data_health_info_disease
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="user_id != null" >
                user_id,
            </if>
            <if test="count != null" >
                count,
            </if>
            <if test="d_type != null" >
                d_type,
            </if>
            <if test="d_name != null" >
                d_name,
            </if>
            <if test="d_desc != null" >
                d_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="user_id != null" >
                #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="count != null" >
                #{count,jdbcType=VARCHAR},
            </if>
            <if test="d_type != null" >
                #{d_type,jdbcType=VARCHAR},
            </if>
            <if test="d_name != null" >
                #{d_name,jdbcType=VARCHAR},
            </if>
            <if test="d_desc != null" >
                #{d_desc,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="upadtedisease" parameterType="java.util.HashMap">
        update data_health_info_disease set
        <trim suffixOverrides="," >
            <if test="user_id != null and user_id !='' " >
                user_id=#{user_id,jdbcType=VARCHAR},
            </if>
            <if test="count != null and count !='' " >
                count=#{count,jdbcType=VARCHAR},
            </if>
            <if test="d_type != null and d_type !='' " >
                d_type=#{d_type,jdbcType=VARCHAR},
            </if>
            <if test="d_name != null and d_name !='' " >
                d_name=#{d_name,jdbcType=VARCHAR},
            </if>
            <if test="d_desc != null and d_desc !='' " >
                d_desc=#{d_desc,jdbcType=VARCHAR},
            </if>

        </trim>

        where 1=1
        <if test="user_id !=null and user_id !='' ">
            and user_id= #{user_id,jdbcType=INTEGER}
        </if>

    </update>
    <delete id="deletedisease" parameterType="java.util.HashMap">

        delete from data_health_info_disease
        where
        user_id=#{user_id,jdbcType=VARCHAR}

    </delete>
    <select id="selectudisease" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        select d.* , u.basic_name from data_health_info_disease d,data_basic_user u
        where 1=1
        <if test="basic_id !=null">
            and user_id= #{user_id,jdbcType=VARCHAR}
        </if>


    </select>



</mapper>