<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fear.healthrecord.mapper.SystemUserMapper" >

    <select id="selectSysUserInfo" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        SELECT
        u.sys_user_name,
        i.real_name,
        i.phone_num,
        i.sex,
        i.job,
        i.birthday,
        i.address,
        i.email,
        k.rank_name,
        s.status_name
        FROM
        system_login_user u,
        system_login_user_info i,
        system_role_rank k,
        system_role_status s
        WHERE
        u.sys_id = i.sys_id
        AND k.rank_id = u.sys_rank
        AND s.status_id = u.sys_status
        <if test="sys_user_name != null" >
            and u.sys_user_name= #{sys_user_name,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>