<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fear.healthrecord.mapper.SystemUserMapper" >

    <select id="selectSysUserInfo" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        SELECT
        u.sys_user_name,
        i.real_name,
        i.phone_num,
        i.sex,
        i.job,
        i.birthday,
        i.address,
        i.email,
        k.rank_name,
        s.status_name
        FROM
        system_login_user u,
        system_login_user_info i,
        system_role_rank k,
        system_role_status s
        WHERE
        u.sys_id = i.sys_id
        AND k.rank_id = u.sys_rank
        AND s.status_id = u.sys_status
        <if test="sign != null" >
            and u.sign= #{sign,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectPWD" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        SELECT
        sys_user_password
        FROM
        system_login_user
        WHERE
        1=1
         and
         sign= #{sign,jdbcType=VARCHAR}

    </select>
    <update id="updatePWD" parameterType="java.util.HashMap">
        update system_login_user set
         sys_user_password=#{sys_user_password,jdbcType=VARCHAR}
        where
        sign= #{sign,jdbcType=VARCHAR}
    </update>
    <update id="updateSysUserInfo" parameterType="java.util.HashMap">
        update system_login_user u,system_login_user_info i set
        <trim suffixOverrides="," >
            <if test="real_name != null and real_name !='' " >
                i.real_name=#{real_name,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address !='' " >
                i.address=#{address,jdbcType=VARCHAR},
            </if>
            <if test="sex != null and sex !='' " >
                i.sex=#{sex,jdbcType=VARCHAR},
            </if>
            <if test="job != null and job !='' " >
                i.job=#{job,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null and birthday !='' " >
                i.birthday=#{birthday,jdbcType=VARCHAR},
            </if>
            <if test="phone_num != null and phone_num !='' " >
                i.phone_num=#{phone_num,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email !='' " >
                i.email=#{email,jdbcType=VARCHAR},
            </if>

        </trim>

        where 1=1
       and u.sys_id=i.sys_id
       and u.sign= #{sign,jdbcType=VARCHAR}

    </update>
    <insert id="insertLogs" parameterType="java.util.HashMap" >
        insert into login_logs
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="user_name != null" >
                user_name,
            </if>
            <if test="sign != null" >
                sign,
            </if>
            <if test="ip_address != null" >
                ip_address,
            </if>
            <if test="host_name != null" >
                host_name,
            </if>
            <if test="login_time != null" >
                login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="user_name != null" >
                #{user_name,jdbcType=VARCHAR},
            </if>
            <if test="sign != null" >
                #{sign,jdbcType=VARCHAR},
            </if>
            <if test="ip_address != null" >
                #{ip_address,jdbcType=VARCHAR},
            </if>
            <if test="host_name != null" >
                #{host_name,jdbcType=VARCHAR},
            </if>
            <if test="login_time != null" >
                #{login_time,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectLogs" parameterType="java.util.HashMap" resultType= "java.util.HashMap">
        SELECT
       ip_address,
       host_name,
       login_time,
       user_name
        FROM
        login_logs
        WHERE
        1=1
         and
         sign= #{sign,jdbcType=VARCHAR}
         ORDER BY
         login_time
         DESC

    </select>

</mapper>